body {
	padding-top: 50px;
	padding-left: 20px;
}

#loginForm {
  border: solid 1px black;
  padding: 20px;
  border-radius: 10px;
}

.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.jumbotron {
  margin-bottom: 0;
}

footer {
  background-color: gray;
  padding: 25px;
}